{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .bubble {
            aspect-ratio: 1;
            border: solid 1px white;
            border-radius: 100%;
            opacity: 80%;
            position: absolute;
        }

        .color-0 {
            background-color: #FFA500;
        }

        .color-1 {
            background-color: #00CC66;
        }

        .color-2 {
            background-color: #FFFF99;
        }

        .color-3 {
            background-color: #0099FF;
        }

        .color-4 {
            background-color: #00CCCC;
        }
    </style>
    <div class="bg" style="height: 100vh; position: absolute; overflow: hidden; width: 100vw; z-index: -1">
        {% for i in 0..4 %}
            <div class="bubble color-{{ i%5 }}" style="left: {{ random(0,1800) }}px; top: {{ random(0,800) }}px; width: {{ random(150,350) }}px; "></div>
        {% endfor %}
    </div>
<div class="text-center">
    <h1 class="brand-title">{{ title }}</h1>

    <p> {{ message }} </p>
</div>
{% endblock %}
