{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <input type="hidden" name="_token" value="{{ csrf_token('save') }}">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confirmPassword) }}
        {{ form_row(registrationForm.secretToken) }}

        <button type="submit" class="btn btn-outline-success">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
