{% extends 'chore/base_dashboard.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Roles</h1>
        </div>
        <div class="card-body">
            <table class="table">
                <form method="post">
                    <thead>
                        <tr>
                            <th>
                                {% if app.request.get('sort') == 'label_down' %}
                                    <button class="silent_btn" name="sort" value="label_up" style="color: #0099FF; display: flex">
                                        Label
                                        <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                            <i class="bi bi-arrow-down"></i>
                                        </div>
                                    </button>
                                {% elseif app.request.get('sort') == 'label_up' %}
                                    <button class="silent_btn" name="sort" value="null" style="color: #0099FF; display: flex">
                                        Label
                                        <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                            <i class="bi bi-arrow-up"></i>
                                        </div>
                                    </button>
                                {% else %}
                                    <button class="silent_btn" name="sort" value="label_down" style="display: flex">
                                        Label
                                        <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                            <i class="bi bi-arrow-down"></i>
                                        </div>
                                    </button>
                                {% endif %}
                            </th>
                            {% for permissionName in controllerList %}
                                <th>{{ permissionName }}</th>
                            {% endfor %}
                            <th>
                                {% if app.request.get('sort') == 'active_down' %}
                                    <button class="silent_btn" name="sort" value="active_up" style="color: #0099FF; display: flex">
                                        Active
                                        <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                            <i class="bi bi-arrow-down"></i>
                                        </div>
                                    </button>
                                {% elseif app.request.get('sort') == 'active_up' %}
                                    <button class="silent_btn" name="sort" value="null" style="color: #0099FF; display: flex">
                                        Active
                                        <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                            <i class="bi bi-arrow-up"></i>
                                        </div>
                                    </button>
                                {% else %}
                                    <button class="silent_btn" name="sort" value="active_down" style="display: flex">
                                        Active
                                        <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                            <i class="bi bi-arrow-down"></i>
                                        </div>
                                    </button>
                                {% endif %}
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                </form>
        <tbody>
        {% for role in statuses %}
            <tr>
                <td>
                    <span class="cell-title">Label</span>
                    <span style="color:{{ role.color }}">{{ role.fullIcon|raw }}</span>
                    {{ role.label }}
                </td>
                {% for permissionName in controllerList %}
                    <td>
                    <span class="cell-title">
                                {{ permissionName }}
                            </span>
                    {%  for permission in role.permissions %}
                        {% if permission.controller == permissionName %}
                            {{ permission }}
                        {% endif %}
                    {% endfor %}
                    </td>
                {% endfor %}
                <td>
                    <span class="cell-title">Active</span>
                    {{ role.active ? 'Yes' : 'No' }}
                </td>
                <td>
                    <span class="cell-title">Actions</span>
                    <a class="btn btn-outline-primary" href="{{ path('app_role_show', {'id': role.id}) }}">See</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_role_edit', {'id': role.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-outline-success" href="{{ path('app_role_new') }}">Create new</a>
        </div>
    </div>
</div>
{% endblock %}
