{% extends 'chore/base_dashboard.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Users</h1>
            </div>
            <div class="card-body">
                <table class="table">
                    <form method="post">
                    <thead>
                    <tr>
                        <th class="" >
                                    Roles
                        </th>
                        <th>
                            {% if app.request.get('sort') == 'lastName_down' %}
                                <button class="silent_btn" name="sort" value="lastName_up" style="color: #0099FF; display: flex">
                                    LastName
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% elseif app.request.get('sort') == 'lastName_up' %}
                                <button class="silent_btn" name="sort" value="null" style="color: #0099FF; display: flex">
                            LastName
                                <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                            </button>
                            {% else %}
                                <button class="silent_btn" name="sort" value="lastName_down" style="display: flex">
                                    LastName
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% endif %}
                        </th>
                        <th>
                            {% if app.request.get('sort') == 'firstName_down' %}
                                <button class="silent_btn" name="sort" value="firstName_up" style="color: #0099FF; display: flex">
                                    FirstName
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% elseif app.request.get('sort') == 'firstName_up' %}
                                <button class="silent_btn" name="sort" value="null" style="color: #0099FF; display: flex">
                            FirstName
                                <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                            </button>
                            {% else %}
                                <button class="silent_btn" name="sort" value="firstName_down" style="display: flex">
                                    FirstName
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% endif %}
                        </th>
                        <th>
                            {% if app.request.get('sort') == 'email_down' %}
                                <button class="silent_btn" name="sort" value="email_up" style="color: #0099FF; display: flex">
                                    Email
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% elseif app.request.get('sort') == 'email_up' %}
                                <button class="silent_btn" name="sort" value="null" style="color: #0099FF; display: flex">
                            Email
                                <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                            </button>
                            {% else %}
                                <button class="silent_btn" name="sort" value="email_down" style="display: flex">
                                    Email
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% endif %}
                        </th>
                        <th>
                            {% if app.request.get('sort') == 'phone_down' %}
                                <button class="silent_btn" name="sort" value="phone_up" style="color: #0099FF; display: flex">
                                    Phone
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% elseif app.request.get('sort') == 'phone_up' %}
                                <button class="silent_btn" name="sort" value="null" style="color: #0099FF; display: flex">
                            Phone
                                <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                    <i class="bi bi-arrow-up"></i>
                                </div>
                            </button>
                            {% else %}
                                <button class="silent_btn" name="sort" value="phone_down" style="display: flex">
                                    Phone
                                    <div class="" style="display: flex; flex-flow: column; padding-left: 6px;">
                                        <i class="bi bi-arrow-down"></i>
                                    </div>
                                </button>
                            {% endif %}
                        </th>
                        <th>
                            actions
                        </th>
                    </tr>
                    </thead>
                    </form>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <span class="cell-title">Roles</span>
                                {% for assignment in user.currentAssignments %}
                                    <span style="color:{{ assignment.role.color }}">{{ assignment.role.fullIcon|raw }}</span>
                                    {{ assignment.role }}
                                {% endfor %}
                            </td>

                            <td>
                                <span class="cell-title">LastName</span>
                                {{ user.lastName }}</td>
                            <td>
                                <span class="cell-title">FirstName</span>
                                {{ user.firstName }}
                            </td>
                            <td>
                                <span class="cell-title">Email</span>
                                {{ user.email }}
                            </td>
                            <td>
                                <span class="cell-title">Phone</span>
                                {{ user.phone }}
                            </td>
                            <td>
                                <span class="cell-title">Actions</span>
                                <a class="btn btn-outline-primary" href="{{ path('app_user_show', {'id': user.id}) }}">See</a>
                                <a class="btn btn-outline-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="9">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="btn btn-outline-success" href="{{ path('app_user_new') }}">Create new</a>
            </div>
        </div>
    </div>
{% endblock %}
