{% extends 'chore/base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1 class="brand-title">{{ title }}</h1>
    {% if is_granted('ROLE_USER') %}
    <div class="">
        <a href="{{  path('app_user_index') }}">Dashboard</a>
    </div>
        <div class="">
            <a href="{{  path('app_logout') }}">Logout</a>
        </div>
    {% else %}
    <div class="">
        <a href="{{ path('app_login') }}">Login</a>
    </div>
    <div class="">
        <a href="{{ path('app_register') }}">Register</a>
    </div>
    {% endif %}

</div>
{% endblock %}
