{% extends 'chore/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {% if is_granted('IS_DEMO') %}
        <small>You are in a demo, you can't register new account.</small>
        <small>An account has been created for you to discover the app.</small>
        <small style="padding-bottom: 15px">You can directly login here</small>

    <a href="{{ path('app_login') }}">Login</a>
    {% else %}


    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <input type="hidden" name="_token" value="{{ csrf_token('save') }}">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.confirmPassword) }}

        <button type="submit" class="btn btn-outline-success">Register</button>
    {{ form_end(registrationForm) }}
    {% endif %}
{% endblock %}
