{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>ProfilePicture</th>
                <td>{{ user.profilePicture }}</td>
            </tr>

        </tbody>
    </table>

    <h2>Assignments</h2>

    <table class="table">
        <tbody>
        {% for assignment in user.assignments %}
            <tr>
                <th>Role</th>
                <td style="color:{{ assignment.role.fullColor }}">{{ assignment.role.fullIcon|raw }}{{ assignment.role.label }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ assignment.startDate ? assignment.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ assignment.endDate ? assignment.endDate|date('Y-m-d') : '' }}</td>
            </tr>

        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
